<!-- FILEPATH: /d:/Angular/DishDiscoveryFront/src/app/client/components/home-featured/home-featured.component.html -->

<h2 class="section-title">Our best reviewed recipes</h2>
<div class="featured-recipes">
    <div class="recipe-card">
        <img src="https://images.unsplash.com/photo-1568625435602-552bac80484e" alt="Recipe Image">
        <div class="card-body">
            <h5 class="recipe-title">Recipe Title</h5>
            <p class="recipe-description">Recipe Description</p>
            <div class="card-footer">
                <button class="btn">View Recipe</button>
            </div>
        </div>
    </div>

    <div class="recipe-card">
        <img src="https://images.unsplash.com/photo-1568625435602-552bac80484e" alt="Recipe Image">
        <div class="card-body">
            <h5 class="recipe-title">Recipe Title</h5>
            <p class="recipe-description">Recipe Description</p>
            <div class="card-footer">
                <button class="btn">View Recipe</button>
            </div>
        </div>
    </div>

    <div class="recipe-card">
        <img src="https://images.unsplash.com/photo-1568625435602-552bac80484e" alt="Recipe Image">
        <div class="card-body">
            <h5 class="recipe-title">Recipe Title</h5>
            <p class="recipe-description">Recipe Description</p>
            <div class="card-footer">
                <button class="btn">View Recipe</button>
            </div>
        </div>
    </div>
    <div class="recipe-card">
        <img src="https://images.unsplash.com/photo-1568625435602-552bac80484e" alt="Recipe Image">
        <div class="card-body">
            <h5 class="recipe-title">Recipe Title</h5>
            <p class="recipe-description">Recipe Description</p>
            <div class="card-footer">
                <button class="btn">View Recipe</button>
            </div>
        </div>
    </div>
    <div class="recipe-card">
        <img src="https://images.unsplash.com/photo-1568625435602-552bac80484e" alt="Recipe Image">
        <div class="card-body">
            <h5 class="recipe-title">Recipe Title</h5>
            <p class="recipe-description">Recipe Description</p>
            <div class="card-footer">
                <button class="btn">View Recipe</button>
            </div>
        </div>
    </div>
</div>
