<div class="wrapper">
  <h2 class="section-title">Our best reviewed recipes</h2>
  <div class="featured-recipes">
    @for (recipe of recipes; track $index) {
    <div class="recipe-card">
      <img alt="Recipe Image" src="{{ recipe.image }}" />
      <div class="card-body">
        <h5 class="recipe-title">{{ recipe.title }}</h5>
        <p class="recipe-description">{{ recipe.description }}</p>
        <div class="card-footer">
          <button class="btn">View Recipe</button>
        </div>
      </div>
    </div>
    }
  </div>
</div>
