<nav>
  <span class="logo">DishDiscovery</span>
  <ul class="nav-list">
    <li>Home</li>
    <li>Recipes</li>
    <li>Cuisines</li>
  </ul>
  <div class="nav-right">
    <input type="text" placeholder="Search">
    <button>Login</button>
    <button>Sign Up</button>
  </div>
</nav>
<router-outlet></router-outlet>

<footer>
  <div class="footer-left">
    <span class="logo">DishDiscovery</span>
    <ul class="footer-list">
      <li>Home</li>
      <li>Recipes</li>
      <li>Cuisines</li>
    </ul>
  </div>
  <div class="footer-right">
    <ul class="footer-list">
      <li>Terms of Use</li>
      <li>Privacy Policy</li>
      <li>Cookie Policy</li>
    </ul>
  </div>
</footer>
