<div *ngIf="shouldShowLayout()">
<nav>
  <span class="logo">DishDiscovery</span>
  <ul class="nav-list">
    <li routerLink="/home">Home</li>
    <li routerLink="/recipes">Recipes</li>
    <li routerLink="/cuisines">Cuisines</li>
  </ul>
  <div class="nav-right">
    
    <button routerLink="/signin">Login</button>
    <button routerLink="/signup">Sign Up</button>
  </div>
</nav>
</div>
<router-outlet></router-outlet>
<div *ngIf="shouldShowLayout()">
<footer>
  <div class="footer-left">
    <span class="logo">DishDiscovery</span>
    <ul class="footer-list">
      <li>Home</li>
      <li>Recipes</li>
      <li>Cuisines</li>
    </ul>
  </div>
  <div class="footer-right">
    <ul class="footer-list">
      <li>Terms of Use</li>
      <li>Privacy Policy</li>
      <li>Cookie Policy</li>
    </ul>
  </div>
</footer>
</div>
