<!-- FILEPATH: /d:/Angular/DishDiscoveryFront/src/app/client/components/home-hero/home-hero.component.html -->
<section class="hero">
  <div class="hero-content">
    <h1>Indulge in the Art of Flavorful Creations</h1>
    <p>
      Explore a culinary haven where passionate food enthusiasts come together
      to share their favorite recipes. Immerse yourself in a community where the
      joy of cooking is celebrated, and discover a multitude of delightful
      dishes to recreate in your own kitchen. From mouthwatering appetizers to
      decadent desserts, our platform is your gateway to a world of delicious
      possibilities. Join us on a journey where the love for food knows no
      bounds.
    </p>
    <button>Get Started</button>
  </div>
</section>
