<div class="wrapper">
  <div class="sidebar">
    <div class="user-info">
      <img src="assets/account.svg" alt="user" class="user-img" />
      <h1>name</h1>
      <h2>email</h2>
      <h2>Country</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima,
        ratione. Numquam vero incidunt ratione quibusdam sint quae accusamus ex
        unde, aut et animi earum, corrupti eum enim iusto sit at! Ex voluptatem
        ea minus. Ducimus veniam alias veritatis, enim ad nostrum cumque velit
        blanditiis, incidunt quasi perspiciatis deserunt ratione ea, dolorem ab
        accusamus sunt! Laboriosam, adipisci aperiam. Reiciendis, laborum nobis?
      </p>
      <div class="user-action">
        <button id="edit-profile-btn">Edit profile</button>
        <button id="logout-btn">Logout</button>
      </div>
    </div>
  </div>
  <div class="user-recipes">
    <div class="header">
      <span
        >User
        <p>shared Recipes</p></span
      >
      <div>
        <input type="text" placeholder="Search" />
        <button id="post-button">Post</button>
      </div>
    </div>

    <div class="recipes-wrapper">
      <div class="recipe-card">
        <img src="assets/pizza.jpg" alt="Recipe Image" />
        <div class="card-body">
          <h5 class="recipe-title">pizza</h5>
          <p class="recipe-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In amet,
            quis culpa rem ad illo? Alias temporibus distinctio, natus aliquam
            officia odio magni maxime, vel architecto consequatur animi ad
            possimus!
          </p>
          <div class="card-footer">
            <button class="btn">View Recipe</button>
          </div>
        </div>
      </div>

      <div class="recipe-card">
        <img src="assets/pizza.jpg" alt="Recipe Image" />
        <div class="card-body">
          <h5 class="recipe-title">pizza</h5>
          <p class="recipe-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In amet,
            quis culpa rem ad illo? Alias temporibus distinctio, natus aliquam
            officia odio magni maxime, vel architecto consequatur animi ad
            possimus!
          </p>
          <div class="card-footer">
            <button class="btn">View Recipe</button>
          </div>
        </div>
      </div>

      <div class="recipe-card">
        <img src="assets/pizza.jpg" alt="Recipe Image" />
        <div class="card-body">
          <h5 class="recipe-title">pizza</h5>
          <p class="recipe-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In amet,
            quis culpa rem ad illo? Alias temporibus distinctio, natus aliquam
            officia odio magni maxime, vel architecto consequatur animi ad
            possimus!
          </p>
          <div class="card-footer">
            <button class="btn">View Recipe</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
