<div class="wrapper">
  <div class="sidebar">
    <div class="user-info">
      <img src="{{user?.profilePicture}}" alt="user" class="user-img" />
      <h1>{{user.firstname}} {{user.lastname}}</h1>
      <h2>{{user.email}}</h2>
      <p>
        {{user.description}}
      </p>
      <div class="user-action">
        <button (click)="opneEditProfileDialog()" id="edit-profile-btn">Edit profile</button>
        <button (click)="logout()" id="logout-btn">Logout</button>
      </div>
    </div>
  </div>
  <div class="user-recipes">
    <div class="header">
      <span
        >{{user.firstname}} {{user.lastname}}'s
        <p>shared Recipes</p></span
      >
      <div>
        <input [(ngModel)]="searchTextChanged" type="text" placeholder="Search" />
        <!--<button id="post-button">Post</button>-->
      </div>
    </div>

    <div class="recipes-wrapper">
      @for (recipe of userRecipes; track $index;) {
        @if (searchTextChanged!= null && recipe.title.toLowerCase().includes(searchTextChanged.toLowerCase())) {
          <div class="recipe-card">
            <img
              src="{{recipe.image}}"
              alt="Recipe Image"
            />
            <div class="card-body">
              <h5 class="recipe-title">{{recipe.title}}</h5>
              <p class="recipe-description">{{recipe.description}}</p>
              <div class="card-footer">
                <button [routerLink]="['/recipes',recipe.id]" class="btn">View Recipe</button>
              </div>
            </div>
          </div>
        }
        @if (searchTextChanged== null) {
          <div class="recipe-card">
            <img
              src="{{recipe.image}}"
              alt="Recipe Image"
            />
            <div class="card-body">
              <h5 class="recipe-title">{{recipe.title}}</h5>
              <p class="recipe-description">{{recipe.description}}</p>
              <div class="card-footer">
                <button [routerLink]="['/recipes',recipe.id]" class="btn">View Recipe</button>
              </div>
            </div>
          </div>
        }
        
      }
    </div>
  </div>
</div>
