<div class="wrapper">
  <div class="header">
    <h2 >Explore our recipes</h2>
    <input type="text" placeholder="Search" />
  </div>

  <div class="featured-recipes">
    <div class="recipe-card">
      <img
        src="https://images.unsplash.com/photo-1568625435602-552bac80484e"
        alt="Recipe Image"
      />
      <div class="card-body">
        <h5 class="recipe-title">Recipe Title</h5>
        <p class="recipe-description">Recipe Description</p>
        <div class="card-footer">
          <button class="btn">View Recipe</button>
        </div>
      </div>
    </div>

    <div class="recipe-card">
      <img
        src="https://images.unsplash.com/photo-1568625435602-552bac80484e"
        alt="Recipe Image"
      />
      <div class="card-body">
        <h5 class="recipe-title">Recipe Title</h5>
        <p class="recipe-description">Recipe Description</p>
        <div class="card-footer">
          <button class="btn">View Recipe</button>
        </div>
      </div>
    </div>

    <div class="recipe-card">
      <img
        src="https://images.unsplash.com/photo-1568625435602-552bac80484e"
        alt="Recipe Image"
      />
      <div class="card-body">
        <h5 class="recipe-title">Recipe Title</h5>
        <p class="recipe-description">Recipe Description</p>
        <div class="card-footer">
          <button class="btn">View Recipe</button>
        </div>
      </div>
    </div>
    <div class="recipe-card">
      <img
        src="https://images.unsplash.com/photo-1568625435602-552bac80484e"
        alt="Recipe Image"
      />
      <div class="card-body">
        <h5 class="recipe-title">Recipe Title</h5>
        <p class="recipe-description">Recipe Description</p>
        <div class="card-footer">
          <button class="btn">View Recipe</button>
        </div>
      </div>
    </div>
    <div class="recipe-card">
      <img
        src="https://images.unsplash.com/photo-1568625435602-552bac80484e"
        alt="Recipe Image"
      />
      <div class="card-body">
        <h5 class="recipe-title">Recipe Title</h5>
        <p class="recipe-description">Recipe Description</p>
        <div class="card-footer">
          <button class="btn">View Recipe</button>
        </div>
      </div>
    </div>
    <div class="recipe-card">
      <img
        src="https://images.unsplash.com/photo-1568625435602-552bac80484e"
        alt="Recipe Image"
      />
      <div class="card-body">
        <h5 class="recipe-title">Recipe Title</h5>
        <p class="recipe-description">Recipe Description</p>
        <div class="card-footer">
          <button class="btn">View Recipe</button>
        </div>
      </div>
    </div>
  </div>
</div>
