<div class="container">
  <div class="wrapper">
    <img src="assets/register.jpg" alt="" class="wrapper-img">
    <div class="wrapper-form">
      <h1>Signup</h1>
      <form [formGroup]="signupForm">
        <div class="form-group">
          <input
            class="form-control"
            id="firstname"
            type="input"
            placeholder="First name"
            formControlName="firstname"
          />
          <div
            class="form-error"
            *ngIf="
              signupForm.controls['firstname'].invalid &&
              (signupForm.controls['firstname'].dirty ||
                signupForm.controls['firstname'].touched)
            "
          >
            <div id="error-message" *ngIf="signupForm.controls['firstname'].errors?.['required']">
              firstname is required
            </div>
          </div>
        </div>

        <div class="form-group">
          <input
            class="form-control"
            id="lastname"
            type="input"
            placeholder="Lastname"
            formControlName="lastname"
          />
         <div
            class="form-error"
            *ngIf="
              signupForm.controls['lastname'].invalid &&
              (signupForm.controls['lastname'].dirty ||
                signupForm.controls['lastname'].touched)
            "
          >
            <div id="error-message" *ngIf="signupForm.controls['lastname'].errors?.['required']">
              lastname is required
            </div>
          </div>
        </div>

        <div class="form-group">
          <input
            class="form-control"
            id="email"
            type="input"
            placeholder="Email"
            formControlName="email"
          />
          <div
            class="form-error"
            *ngIf="
              signupForm.controls['email'].invalid &&
              (signupForm.controls['email'].dirty ||
                signupForm.controls['email'].touched)
            "
          >
            <div id="error-message" *ngIf="signupForm.controls['email'].errors?.['required']">
              email is required
            </div>
            <div id="error-message" *ngIf="signupForm.controls['email'].errors?.['email']">
              Invalid email format
            </div>
          </div>
        </div>

        <div class="form-group">
          <input
            class="form-control"
            id="username"
            type="input"
            placeholder="username"
            formControlName="username"
          />
          <div
            class="form-error"
            *ngIf="
              signupForm.controls['username'].invalid &&
              (signupForm.controls['username'].dirty ||
                signupForm.controls['username'].touched)
            "
          >
            <div id="error-message" *ngIf="signupForm.controls['username'].errors?.['required']">
              username is required
            </div>
          </div>
        </div>

        <div class="form-group">
          <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
            placeholder="password"
          />
          <div
            class="form-error"
            *ngIf="
              signupForm.controls['password'].invalid &&
              (signupForm.controls['password'].dirty ||
                signupForm.controls['password'].touched)
            "
          >
            <div id="error-message" *ngIf="signupForm.controls['password'].errors?.['required']">
              Password is required
            </div>
            <div id="error-message" *ngIf="signupForm.controls['password'].errors?.['minlength']">
              Password should be at least 6 characters
            </div>
          </div>
        </div>

        <button (click)='signup()' id="signup-button" class="btn" type="button">
          Signup
        </button>

        <p>
          already have an account?
          <a routerLink="/signin" class="link-info">login here</a>
        </p>
      </form>
    </div>
  </div>
</div>
