<!-- FILEPATH: /d:/Angular/DishDiscoveryFront/src/app/client/components/home-cuisines/home-cuisines.component.html -->

<div class="featured-cuisines">
    <h2>Featured Cuisines</h2>
    <div class="cuisine-card">
        <img src="cuisine1.jpg" alt="Cuisine 1">
        <h3>Cuisine 1</h3>
        <p>Description of Cuisine 1</p>
    </div>
    <div class="cuisine-card">
        <img src="cuisine2.jpg" alt="Cuisine 2">
        <h3>Cuisine 2</h3>
        <p>Description of Cuisine 2</p>
    </div>
    <div class="cuisine-card">
        <img src="cuisine3.jpg" alt="Cuisine 3">
        <h3>Cuisine 3</h3>
        <p>Description of Cuisine 3</p>
    </div>
</div>
